<h1>Current Challenge</h1>
<p>Can you teach someone to teach this project?</p>

<% for project in @projects %>
	<b><%= project.name %></b><br/><br/>
	Materials Needed:<br/>
	<%= project.materials %><br/><br/>

	<%= image_tag(project.image, :size => "200x300") %><br/>

<% end %>