<p id="notice"><%= notice %></p>
<h1>Current Challenges</h1>
<div align="center"><h5>Can you teach someone to stitch one of these projects?</h5></div>


<% for project in @projects %>
	<b><%= project.name %></b><br/><br/>
	
	<%= image_tag(project.image, :size => "200x300") %><br/><br/>

<div class="btn btn-small btn-info">
	<%= link_to 'Detail Page', project %>
</div>
	<hr>
		


<% end %>