<footer class="footer">
	<small>
		<a href="mailto:mswhat298@gmail.com">Talk To Us!</a> | &copy;2013 Michael Whatley
	</small>

	<nav>
		<ul>
			<li><%= link_to "About", '#' %></li>
			<li><%= link_to "Contact", '#' %></li>
			<li><a href="http://hoffmandis.com">Find A Shop</a></li>
		</ul>
	</nav>
</footer>